In [10]:
try:
    a=10
    b=0
    print(a/b)
except ZeroDivisionError:
    print("Zero Divison Error Rised")
    print(a/(b+0.1))

Zero Divison Error Rised
100.0

In [13]:
# default except is a except block without any ExceptionClass name.
#it must be at last of all except blocks
try:
    a=10
    b='sa'
    print(a/b)
except ZeroDivisionError:
    print("Zero Divison Error Rised")
    print(a/(b+0.1))
except:
    print("this is default except block , please provide some number")

this is default except block , please provide some number

In [14]:
# single except block that can handle multiple Exceptions
try:
    a=10
    b=0
    print(a/b)
except (ZeroDivisionError,ValueError,ArithmeticError):   #as msg alias
    print("Zero Divison Error Rised")
    print(a/(b+0.1))

Zero Divison Error Rised
100.0

In [1]:
try:
    a=10
    b=0
    print(a/b)
except ZeroDvdsError:
    print("Zero Divison Error Rised")
    print(a/(b+0.1))
finally:
    print("finally")

finally

NameError: name 'ZeroDvdsError' is not defined

In [ ]:
import os
try:
    a=10
    b=0
    print('try')
    os._exit(0)
    print(a/b)
except ZeroDivisionError:
    print("Zero Divison Error Rised")
    print(a/(b+0.1))
finally:
    print("finally")

In [3]:
#else block excuted if no errors in try block
try:
    a=10
    b=1
    print(a/b)
except ZeroDivisionError:
    print("Zero Divison Error Rised")
    print(a/(b+0.1))
else:
    print('else block')
finally:
    print("finally")

10.0
else block
finally

In [54]:
# user defined exception , all exceptions are directly or indirectly inherited from BaseException

class TooYoungException(BaseException):
    def __init__(self,msg):
        msg="please provide valid age"
        print(msg)
        
class TooOldException(BaseException):
    def __init__(self,msg):
        msg="please provide valid age"
        print(msg)
age=3
if age<15:
    raise TooYoungException("you are too young")
elif age>60:
    raise TooOldException("you are too old")
else:
    print(age)

please provide valid age

TooYoungException: you are too young

### formatting the strings

In [60]:
name = "python"
year = 1991
rank = 1
print("{} was published in {} , it's rank is {}".format(name,year,rank))    # default arguments
print("{2} was published in {1} , it's rank is {0}".format(rank,year,name))    # positional arguments
print("{x} was published in {y} , it's rank is {z}".format(x=name,y=year,z=rank))   # keyword arguments
print("Thi float number is : {:.2}".format("python"))

python was published in 1991 , it's rank is 1
python was published in 1991 , it's rank is 1
python was published in 1991 , it's rank is 1
Thi float number is : py

### formatting numbers

In [58]:
a="{:b}".format(5)
a

'101'

In [30]:
print("Thi integer number is : {}".format(15))
print("Thi integer number is : {:d}".format(15))
print("Thi integer number is : {:o}".format(64))   #octal number
print("Thi integer number is : {:010d}".format(123))    #length=10,filled with 0's and right align
print("Thi integer number is : {:X}".format(123))
print("Thi integer number is : {:b}".format(15))

Thi integer number is : 15
Thi integer number is : 15
Thi integer number is : 100
Thi integer number is : 0000000123
Thi integer number is : 7B
Thi integer number is : 1111

### formatting floating numbers

In [42]:
print("Thi float number is : {}".format(123.4567))
print("Thi float number is : {:f}".format(123.4567))
print("Thi float number is : {:018f}".format(123.4567))      # length=18 , filled with 0's
print("Thi float number is : {:.2f}".format(123.4567))
print("Thi float number is : {:018.2f}".format(123.4567))

Thi float number is : 123.4567
Thi float number is : 123.456700
Thi float number is : 00000000123.456700
Thi float number is : 123.46
Thi float number is : 000000000000123.46

In [59]:
# dictionary formatting
person={'year':1991,'name':'python'}
print("{p[name]} was published in {p[year]}".format(p=person))
print("{name} was published in {year}".format(**person))

python was published in 1991
python was published in 1991