In [1]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [3]:
type(set3)

set

In [5]:
thisset = set("apple", "banana", "cherry") # note the double round-brackets
print(thisset)

TypeError: set expected at most 1 argument, got 3

In [6]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [7]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [8]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [6]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)
thisset

{'banana', 'papaya', 'mango', 'apple', 'pineapple', 'cherry'}

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [27]:
s={'apple', 'banana', 'pineapple', 'mango', 'papaya', 'cherry'}
s

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [3]:
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange")
thisset.update("apple")
print(thisset)
thisset

{'cherry', 'apple', 'a', 'p', 'e', 'l', 'banana'}

{'a', 'apple', 'banana', 'cherry', 'e', 'l', 'p'}

In [40]:
thisset = {"dapple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'dapple'}

In [37]:
thisset = {"apple", "", "cherry"}

thisset.remove("banana")

print(thisset)

KeyError: 'banana'

In [38]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [42]:
thisset = {"apple", "", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', '', 'cherry'}

In [22]:
thisset = { "banana","apple", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [25]:
thisset = { "banana","apple", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [76]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [77]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [26]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.union(set2)

{1, 2, 3, 'a', 'b', 'c'}

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [35]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection(y)

{'apple'}

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'microsoft', 'banana'}

In [37]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'microsoft', 'banana'}

In [38]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
z

{2, 'banana', 'cherry', 'google'}

In [39]:
d={"apple":[1,2,3]}
d['apple'].append(4)
d

{'apple': [1, 2, 3, 4]}

In [40]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)
x.pop()
print(fruits)
x

{'cherry', 'apple', 'banana'}
{'cherry', 'apple', 'banana'}

{'apple', 'banana'}

In [44]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference(y)

print(x)

{'cherry', 'apple', 'banana'}

In [42]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [9]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [10]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [11]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'d', 'a', 'b', 'f', 'e', 'c'}